.main {
  position: relative;
  background-color: #000;
  color: #fff;
  display: flex;
  width: 100vw;
  height: calc(100vh - 3rem);
  justify-content: center;
  align-items: center;
  gap: 10rem;
  font-weight: 600;
}

.navbar{
  height: 3rem;
  width: 100vw;
  background: #000;
  color: #fff;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.tower {
  height: 200px;
  width: 200px;
  position: relative;
  cursor: pointer;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.tower .line {
  border-radius: 15px;
  position: relative;
  background-color: white;
  width: 5px;
  height: max-content;
  min-height: 150px;
}

.tower:hover .line {
  background-color: rgb(250, 72, 72);
}

.disc {
  background-color: rgb(0, 60, 255);
  height: 2rem;
  border: #817eff;
  border-radius: 2rem;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.discs {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.tower.selected .line {
  background: rgb(251, 251, 61);
}

.user-input {
  position: absolute;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-field {
  border-radius: 15px;
  background: #fff;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  width: 10rem;
  height: 2rem;
}

.btn {
  font-size: 11.75px;
  border-radius: 15px;
  background: #2925ff;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  height: 2rem;
}

.btn:active{
  background: #5e5cff;
}