.app {
  position: relative;
  background-color: #000;
  color: #fff;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.tower {
  height: 200px;
  width: 200px;
  position: relative;
  cursor: pointer;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.tower .line {
  position: relative;
  background-color: white;
  width: 5px;
  height: 150px;
}

.tower:hover .line {
  background-color: rgb(250, 72, 72);
}

.disc{
  background-color: rgb(0, 60, 255);
  height: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.discs{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.tower.selected .line{
  background: rgb(251, 251, 61);
}

.user-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app input{
  background: #fff;
  color: #000;
  padding: 5px;
  width: 10rem;
  height: 2rem;
}

.app .btn{
  background: #fff;
  color: #000;
  padding: 5px;
  width: 3rem;
  height: 2rem;
}